/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';
body {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url('https://k31.kn3.net/taringa/B/3/2/8/6/8/coreblue/D37.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 100vh;
}

mat-card {
    background-color: white;
}